.place__paragraph {
  font-size: 18px;
  font-style: normal;
  line-height: 1.63;
  margin: 26px auto 0 auto;
}

.place__paragraph:first-child {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 0 14px;
  }
}

