.cover__overlay {
    background-image: url(../../../images/cover-trains.jpg);
    background-size: cover;
    color: #fff;
    min-height: 740px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

.cover__overlay::before {
    content: '';
    background: #2A2C2F;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transform: .5s;
} 

.cover__overlay:hover:before {
  opacity: 0.8;
  transition: .5s ease;
}

@media screen and (max-width: 1279px) {
   .cover__overlay {
      min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
  .cover__overlay {
     min-height: 480px;
    }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
      min-height: 200px;
    }
}

